@model Client.Models.Student

@{
    ViewData["Title"] = "Details";
    Layout = "_AdminLayout";
}

<h1>Details</h1>


@*<table id="tableStd" class="table table-hover tableprogress-bar-striped ">
    <thead class="table-dark align-content-center">
        <tr>
            <th>No</th>
            <th>Nim</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Birth Date</th>
            <th>Gender</th>
            <th>Phone Number</th>
            <th>Address</th>
            <th>Email</th>
            <th>Major Code</th>
            <th>Course Code</th>
        </tr>
    </thead>
    <tbody id="tbodyMovie" class="text-white fw-bold bg-dark">
        <!-- Isi Body -->
    </tbody>

</table>
@section Scripts{
    <script src="~/js/Student/Student.js" asp-append-version="true"></script>
}*@

<div>
    <h4>Student</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nim)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nim)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BirthDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MajorCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MajorCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CourseCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CourseCode)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>




